.blogListItem {
  position: relative;
  width: 941px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 26px;
  box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  height: 140px;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 5px 0px rgba(34, 60, 80, 0.2);
  }

  &__container {
    width: 682px;
  }

  &__block {
    display: flex;
    margin-bottom: 6px;
  }

  &__title {
    height: 28px;
    color: #1890ff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 13px;
    overflow: hidden;
  }

  &__heart {
    margin-right: 5px;
  }

  &__favorited {
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
  }

  &__tagList {
    height: 22px;
    margin-bottom: 7px;
    overflow: hidden;
  }

  &__tagList_list {
    display: flex;
    list-style-type: none;
  }

  &__tagList_list-item {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 2px 5px;
    margin-right: 8px;
  }

  &__body {
    height: 45px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
  }

  &__author {
    position: absolute;
    top: 17px;
    right: 14px;
    display: flex;
  }

  &__case {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__name {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: -5px;
  }

  &__created {
    color: var(--text-color-secondary, rgba(0, 0, 0, 0.5));
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  &__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 12px;
  }

  &__link {
    text-decoration: none;
  }
}
